// White
$text-04: #fff;
$ui-05: #161616;
$interactive-01: #0f62fe;
$hover-primary: #0353e9;

// Gray 10
$ui-background-gray-10: #f4f4f4;

// Gray 90
$ui-01-gray-90: #393939;
$ui-03-gray-90: #525252;
$ui-background-gray-90: #262626;
$hover-ui-gray-90: #4c4c4c;
$hover-secondary-gray-90: #606060;

// Gray 100
$field-01-gray-100: #262626;
$text-01-gray-100: #f4f4f4;
$text-02-gray-100: #c6c6c6;
$text-03-gray-100: #6f6f6f;
$text-05-gray-100: #8d8d8d;
$text-error: #ff8389;
$ui-01-gray-100: #262626;
$ui-background-gray-100: #161616;
$active-secondary-gray-100: #393939;
$hover-ui-gray-100: #353535;
$hover-primary-text-gray-100: #5998ff;

// Gradients
$gradient-blue60-teal50: linear-gradient(90deg, #0f62fe, #009d9a);
$gradient-blue60-teal40: linear-gradient(90deg, #0f62fe,#08bdba);
