// Most commonly used colors
$text-04: #fff;
$ui-01-gray-90: #393939;
$ui-03-gray-90: #525252;
$ui-05: #161616;
$ui-background-gray-10: #f4f4f4;
$ui-background-gray-90: #262626;
$hover-ui-gray-90: #4c4c4c;
$hover-secondary-gray-90: #606060;
$interactive-01: #0f62fe;
$hover-primary: #0353e9;

// Gradients
$gradient-blue60-teal50: linear-gradient(90deg, #0f62fe, #009d9a);
