@import '../styles/_colors.scss';
@import '../styles/_text.scss';

.link {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 1rem 1rem 1rem 0;
    color: $interactive-01;
    fill: $interactive-01;
    cursor: pointer;
    text-decoration: none;
}

.link-text {
    @include body-short-01;
    margin: 0 2rem 0 0;
    &:hover {
        text-decoration: underline;
    }
}

.link-icon {
    width: 0.875rem;
    height: auto;
}
