@import './styles/_colors.scss';
@import './styles/_text.scss';
@import './styles/_sizings.scss';

.blog {
    padding: $standardPadding $standardPadding 2rem;
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: $ui-background-gray-10;
}

.blog-section-name-container {
    @include section-name-container;
}

.blog-posts-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.blog-post {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    &:last-child {
        margin: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.blog-post-title {
    @include heading-05;
}

.blog-post-long {
    @include body-long-02;
}

.blog-post-description {
    @include body-long-02;
    /* This is to prevent summing up
     * margin of the title with this one
     * in flexbox. */
    margin-top: 0;
    /* This is for the link to stay at the bottom
     * the flexbox. */
    margin-bottom: auto;
}
